<!DOCTYPE html>
{% load static %}
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
        integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
</head>

<body>
    <div class="container">
        <div class="login">
            <form method="POST">
                {% csrf_token %}
            <div class="row">

                <h2>Sign Up</h2>
                    <div class="col-md-12">
                        <label for="Username">Username</label>
                        {{ form.username }}
                        <br>
                        <label for="email">email</label>
                         {{ form.email }}
                        <br>
                        <label for="password">Password</label>
                         {{ form.password1 }}
                        <br>
                        <label for="Confirm password">confirm password</label>
                        {{ form.password2 }}
                        <br>

                    </div>
            </div>

           <div class="btn-group" role="group" aria-label="Basic radio toggle button group">

  <label class="btn btn-outline-primary" >Patient {{ form.is_patient }}</label>

  <label class="btn btn-outline-primary" >Treatment Provider {{ form.is_tp }}</label>
</div>

                <div>
                    <span class="text-error">{{ form.errors }}</span>
                  <input type="submit"  value="Register" class="btn btn-outline-success btn-form">
                </div>

            </form>
                </div>

            </div>
        </div>

    </div>
</body>
</html>
